/*------ CSS RESET ------*/

*{
  padding:  0;
  margin:  0;
  font-size: 100%;
  line-height: 1em;
}

/*-------MAIN STYLING------*/

body {
  width:  80%;
  max-width: 670px;
  margin: auto;
  background: #fafafa;
  color: #333;
  font-family: 'Libre Baskerville', serif;

}
section, aside, header, footer {
}

article{
  display:flex;}

.main {flex:3;
padding-right: 1em;}

aside{
  flex:1;
  font-size: 0.75em;
  font-style: italic;
  border-left: 1px solid #333;
  padding-left: 1em;
}





/*-------TYPOGRAPHY---------*/
h1, h2, h3 {
  font-weight: normal;
  color: #8F0040;
  text-align: center;
}
p{font-family: 'Open Sans', sans-serif;}
p,blockquote {
  margin-bottom: 1.5em;
  line-height: 1.4;
}

h1 {font-size: 3.052em;
margin-top: 2em;
margin-bottom: 0.1em;
}

h2 {font-size: 2.441em;
margin: 1em 0; }

h3 {font-size: 1.953em;
margin-bottom: 1.5em;}

blockquote {
  font-size: 1.414em;
  hanging-punctutation: first;
  text-indent: -0.44em;
  color:  #8F0040;
}


blockquote cite {
font-size: 0.75em;
  color: #333;
}

header h3 {font-style: italic;}
header p {font-size: 1.141em;}

/*------STYLING LINKS------*/
a{
  color: #8F0040;
  text-decoration: none;
}
a:hover {
  color: #26BED5;
  border-bottom: 1px dotted;
}

/*--------NAVIGATION-------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #8F0040;
  padding: 1em 0;
  font-size: 0.75em;

}
nav ul{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav ul li {
  display: inline;
  margin: 20px;
}
nav a:link {
color: #fafafa;
}
nav a:visited {
  color: #fafafa;
}

nav a:hover{
  border-bottom: none;
  color: #26BED5;

}

.baskerville {
background: #8F0040;
color:#fafafa;
padding: 2em;
width:100%;


}

 /*--------TABLE STYLING------*/
 table {
 margin: auto;
 display: table;
 border-collapse: collapse;
 border-spacing: 2px;
 margin-bottom: 2em;
 width: 100%;

}

caption {
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

th{
  color: #fafafa;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  background: #8F0040;

}

th,td{
  padding: 0.6em;

}

table, td {
  background: #FFDEDE;
  border: 1px solid #fafafa;

}

/*-------IMAGES------*/
img{
  display: block;
  margin: 2em auto;
  padding: 0;
  max-width: 100%;
}


/*-------TABLET-------*/
@media(max-width: 50em) {
  body{
  width: 100%;
}
header p,article{
  width: 90%;
  padding: 0.5em;
}

article{
section{ width:90%}
.aside {border-left: none;
margin: 0;
padding-left: 1em;
font-size: 1.2em}

}


/*-------SMARTPHONE-------*/

@media (max-width:35em) {

  body{
    margin: auto 0;
    width: 100%;
    font-size: 135%;
  }
}

/*-------ICONS------*/
body {
    background: #f0f0f0;
    color: #333;
    line-height: 1.8em;
    max-width: 900px
	}

article {
    display: flex;}


section {
	color: 333;
	margin: 10px;
	padding: 10px;
	}
    


.main{ flex: 3; }

aside { flex: 1;
        font-size: 0.75em;
        font-style: italic;
        border-left: 1px solid #c06;
        padding-left: 3em}
© 2019 GitHub, Inc.

/*-------FOOTER------*/
footer{
text-align: center;
font-size: 0.707em;
padding: 2em 0 4em 0;

}
